<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY Swig Contact APP</title>
</head>
<body>
<h1>{{superhero.name}}</h1>

<p>{{superhero.name}}</p>
<p>{{superhero.power}}</p>
<p>{{superhero.email}}</p>
<p>{{superhero.phone}}</p>
<a href="/superheros/{{superhero.name}}/edit">edit</a>

</body>
</html>